/* This CSS file will need to be added to the styling of 
your web pages for the styles to be rendered. */

body {
background-color: #333;
color: white;
}

a {
    color: #ffc107;
    font-size:1.5rem;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #333;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}
#logo{
position:absolute;
padding-bottom: 2rem;
height:100px;
margin-top: 0;
}
.nav-link{
padding: 0 3rem 0 3rem;
font-size: x-large;
color:black;
}

.container{
padding-top:200px;
}

tr{
font-size:1.5rem;
color:white;
}

#form{
font-size: 1.5rem;
}